<form (ngSubmit)="onSubmit(wordForm)" #wordForm="ngForm">
  <mat-form-field>
    <mat-label>Image Term 1</mat-label>
    <input matInput type="text" id="imageTerm1" name="imageTerm1" [(ngModel)]="model.imageTerm1" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Image Term 2</mat-label>
    <input matInput type="text" id="imageTerm2" name="imageTerm2" [(ngModel)]="model.imageTerm2" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Image Term 3</mat-label>
    <input matInput type="text" id="imageTerm3" name="imageTerm3" [(ngModel)]="model.imageTerm3" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Image Term 4</mat-label>
    <input matInput type="text" id="imageTerm4" name="imageTerm4" [(ngModel)]="model.imageTerm4" required>
  </mat-form-field>
  
  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>

<img src = '{{imageLinkArray[0][0]}}'>
<img src = '{{imageLinkArray[0][1]}}'>
<img src = '{{imageLinkArray[0][2]}}'>
<img src = '{{imageLinkArray[0][3]}}'>
<br>
<img src = '{{imageLinkArray[1][0]}}'>
<img src = '{{imageLinkArray[1][1]}}'>
<img src = '{{imageLinkArray[1][2]}}'>
<img src = '{{imageLinkArray[1][3]}}'>
<br>
<img src = '{{imageLinkArray[2][0]}}'>
<img src = '{{imageLinkArray[2][1]}}'>
<img src = '{{imageLinkArray[2][2]}}'>
<img src = '{{imageLinkArray[2][3]}}'>
<br>
<img src = '{{imageLinkArray[3][0]}}'>
<img src = '{{imageLinkArray[3][1]}}'>
<img src = '{{imageLinkArray[3][2]}}'>
<img src = '{{imageLinkArray[3][3]}}'>